<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="date center">
        <h1 class="day-heading"> <%= kindOfDay %> </h1>
    </div>

    <div class="list">
        
        <% for(let i = 0; i < listItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= listItems[i] %></p>
            </div>
        <% } %>
        
    </div>
    

    <form action="/" method="POST" class="center add-form">
        <input type="text" name="newItem" id="newItem" placeholder="New Item" autocomplete="off"/>
        <input type="submit" value="Add"></button>
    </form>

</body>
</html>