* {
    margin: 0;
    padding: 0;
}

html {
    background-color: cornflowerblue;
}

.center {
    text-align: center;
}

.date {
    width: 400px;
    padding: 20px 0;
    background-color: rgb(138, 85, 187);
    margin: 20px auto;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}



.list {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom:2px solid #b8b8b8;
    font-weight: bold;
}

.item:last-child {
    border-bottom: 0;
}

.add-form {
    margin: 40px 0;
}

input[type="submit"] {
    width: 80px;
    font-size: 15px;
    font-weight: bold;
}

input[type="text"] {
    font-size: 15px;
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 15px;
    margin-left: 15px;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: rgb(104, 89, 243);
    text-decoration-thickness: 2px;
  }