* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 950px;
    font-family: 'helvetica neue';
}

.center {
    text-align: center;
}

.date {
    width: 400px;
    padding: 20px 0;
    background-color: rgb(138, 85, 187);
    margin: 20px auto;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.list {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom:2px solid #b8b8b8;
    font-weight: bold;
    font-size: 18px;
}

.item:last-child {
    border-bottom: 0;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    border-width: 0;
  }

input[type="text"] {
    font-size: 15px;
    text-align: center;
    border: 0;
    width: 325px;
    margin-left: 15px;
    font-size: 18px;
    padding: 20px 0;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }

input[type="checkbox"] {
    margin-right: 15px;
    margin-left: 15px;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: rgb(104, 89, 243);
    text-decoration-thickness: 2px;
  }